<%- include('./partials/head.ejs') %>

    <main class="container mt-3 mb-3 ml-auto mr-auto" id="dashboard">
        <h1 class="text-secondary mb-1">Dashboard</h1>

        <section>
            <% if (users.length) { %>
                <div id="user-table" class="table">
                    <h2>Users:</h2>
                    <div class="table-row text-center contrast-primary">
                        <p>Username</p>
                        <p>Email</p>
                        <p>Actions</p>
                    </div>
                    <% users.forEach(user => { %>
                        <div class="table-row text-center">
                            <p><%= user.username %></p>
                            <p><%= user.email %></p>
                            <p data-userId="<%= user._id %>"><i class="fa-solid fa-trash delete delete-user"></i><i class="fa-solid fa-angles-up promote promote-user"></i></p>
                        </div>
                    <% }); %>
                </div>
            <% } %>
    
            <% if (admins.length && user.isSuperAdmin) { %>
                <div id="admin-table" class="table">
                    <h2>Admins:</h2>
                    <div class="table-row text-center contrast-primary">
                        <p>Username</p>
                        <p>Email</p>
                        <p>Actions</p>
                    </div>
                    <% admins.forEach(admin => { %>
                        <div class="table-row text-center">
                            <p><%= admin.username %></p>
                            <p><%= admin.email %></p>
                            <p data-userId="<%= admin.id %>" data-isAdmin="<%= admin.isAdmin %>"><i class="fa-solid fa-trash delete delete-user"></i></p>
                        </div>
                    <% }); %>
                </div>
            <% } %>
        </section>

        <section>
            <h1 class="text-secondary mb-1">Plan Event:</h1>
        </section>
    </main>

<%- include('./partials/footer.ejs') %>