<%- include('./partials/head.ejs') %>

    <main class="container mt-3 mb-3 ml-auto mr-auto" id="inbox">
        
        <%- include('./partials/notifications.ejs') %>

        <h1>Messages</h1>

        <button id="add-msg-btn" class="btn btn-primary">Send Message</button>

        <div id="inbox-errors"></div>

        <form id="add-msg-form" class="mb-3 d-none">
            <div class="form-field position-relative">
                <label for="msg-receiver" class="text-secondary">Send to:</label>
                <input type="text" name="receiver" id="msg-receiver" placeholder="Email">
                
                <div class="search-results position-absolute contrast-primary d-none" id="email-search-results"></div>
            </div>

            <div class="form-field">
                <label for="msg-subject" class="text-secondary">Subject</label>
                <input type="text" name="subject" id="msg-subject" placeholder="Subject">
            </div>

            <div class="form-field">
                <label for="msg-body" class="text-secondary">Message</label>
                <textarea type="text" name="body" id="msg-body" placeholder="Message"></textarea>
            </div>

            <button type="submit" class="form-btn contrast-primary">Send</button>
        </form>

        <section id="messages" class="mt-1">
            <% if(sendtMessages.length) { %>
                <div>
                    <h2>You have <%= sendtMessages.length %> sendt messages:</h2>

                    <div id="sendt-messages">
                        <% sendtMessages.forEach(msg => { %>
                            <div class="collapse" data-msgID="<%= msg.id %>">
                                <div class="collapse-heading">
                                    <h2>Sendt to: <%= msg.receiverEmail %></h2>
                                    <i class="fas fa-chevron-circle-down"></i>
                                </div>
                    
                                <div class="collapse-inner">
                                    <h3><%= msg.subject %></h3>
                                    <p><%= msg.body %></p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% } else { %>
                <h2>No sendt messages:</h2>
            <% } %>

            <% if(receivedMessages.length) { %>
                <div>
                    <h2>You have <%= receivedMessages.length %> received messages:</h2>

                    <div id="received-messages">
                        <% receivedMessages.forEach(msg => { %>
                            <div class="collapse" data-msgID="<%= msg.id %>">
                                <div class="collapse-heading">
                                    <h2>Received from: <%= msg.senderEmail %></h2>
                                    <i class="fas fa-chevron-circle-down"></i>
                                </div>
                    
                                <div class="collapse-inner">
                                    <h3><%= msg.subject %></h3>
                                    <p><%= msg.body %></p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% } else { %>
                <h2>No received messages:</h2>
            <% } %>
        </section>
    </main>

<%- include('./partials/footer.ejs') %>