<%- include('./partials/head.ejs') %>

    <main class="container mt-3 mb-3 ml-auto mr-auto py-2 d-flex justify-content-space-between d-grid" id="settings">
        <%- include('./partials/notifications.ejs') %>
        
        <aside id="settings-aside">
            <div class="aside-link contrast-primary lighten" data-target="account">Account</div>
            <div class="aside-link contrast-primary lighten" data-target="preferences">Preferences</div>
        </aside>

        <section id="account">
            <h2 class="text-secondary">Account Details</h2>

                <div class="form-field">
                    <label for="username" class="text-secondary">Username</label>
                    <input class="text-secondary" type="text" name="username" id="username" value="<%= user.username %>" disabled>
                </div>

                <div class="form-field">
                    <label for="email" class="text-secondary">Email</label>
                    <input class="text-secondary" type="text" name="email" id="email" value="<%= user.email %>" disabled>
                </div>

                <div class="form-field d-flex align-items-center">
                    <label class="text-secondary">Admin:</label>
                    <% if(user.isAdmin) { %>
                        <i class="fa-solid fa-check admin"></i>
                    <% } else { %>
                        <i class="fa-solid fa-xmark"></i>
                    <% } %>
                </div>
            
            <div class="my-2" id="account-options">
                <h2 class="text-secondary">Account Options</h2>

                    <div class="form-field checkbox">
                        <input type="checkbox" name="mailNotification" id="mail-notification" <%= user.wantsEmailNotifications ? 'checked' : '' %>>
                        <label for="mail-notification" class="text-secondary">I want to receive e-mail notifications.</label>
                    </div>
    
                    <div class="form-field checkbox">
                        <input type="checkbox" name="pushNotification" id="push-notification" <%= user.wantsPushNotifications ? 'checked' : '' %>>
                        <label for="push-notification" class="text-secondary">I want to receive push notifications.</label>
                    </div>

                <button type="submit" class="btn-primary-transparent" id="delete-account-btn">Delete Account</button>
            </div>
        </section>

        <section id="preferences" class="d-none ml-3">
            <h1 class="text-secondary">Preferences</h1>

                <div class="form-field">
                    <label class="text-secondary" for="theme-select">Theme:</label>
                    <select id="theme-select">
                        <option value="light">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>
        </section>
    </main>

<%- include('./partials/footer.ejs') %>