<%- include('./partials/head.ejs') %>

    <main class="container ml-auto mr-auto py-2" id="login">
        <div class="form-container bg-primary">
            <h1 class="form-heading text-primary">Signup</h1>

            <%- include('./partials/alert.ejs') %>

            <form action="/user/signup" method="POST" id="signup-form">
                <div class="form-field">
                    <label for="username" class="text-primary">Username</label>
                    <input type="text" name="username" id="username" value="<%= typeof username != 'undefined' ? username : '' %>">
                </div>

                <div class="form-field">
                    <label for="email" class="text-primary">Email</label>
                    <input type="email" name="email" id="email" value="<%= typeof email != 'undefined' ? email : '' %>">
                </div>

                <div class="form-field">
                    <label for="password" class="text-primary">Password</label>
                    <input type="password" name="password" id="password" value="<%= typeof password != 'undefined' ? password : '' %>">
                </div>

                <div class="form-field">
                    <label for="confirmPassword" class="text-primary">Confirm Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" value="<%= typeof confirmPassword != 'undefined' ? confirmPassword : '' %>">
                </div>

                <div class="form-field checkbox">
                    <input type="checkbox" name="mailNotification" id="mail-notification">
                    <label for="mail-notification" class="text-primary">I want to receive e-mail notifications.</label>
                </div>

                <div class="form-field checkbox">
                    <input type="checkbox" name="pushNotification" id="push-notification">
                    <label for="push-notification" class="text-primary">I want to receive push notifications.</label>
                </div>

                <button type="submit" class="form-btn contrast-primary lighten">Signup</button>

                <p class="text-center mt-1 text-primary">Already have an account? <a href="/login">Login Here</a></p>
            </form>
        </div>
    </main>

<%- include('./partials/footer.ejs') %>